
__pycache__/
*.pyc
*.pyo
*.pyd

**/venv/
**/env/
**/.env/

*.log
*.sqlite3

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

lab1/*
!lab1/*.py
!lab1/**/*.py
!lab1/docs


lab1part2/*
!lab1part2/*.py
!lab1part2/**/*.py
!lab1part2/docs
